@font-face {
    font-family: "Inconsolata";
    src: url(C:\Users\Juare\OneDrive\Documentos\proyectojuanga\Roboto_Mono.ttf);
}

* {
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100%;
    padding: 0;
    background: #f1f1f1;
}
.main-image{
    position: relative;
    background: url(imagenes/banner.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    overflow: hidden;
}
.contai{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     text-align: center;
     color: #fff;
     font-weight: 700;
     text-transform: uppercase;

}
.contai h1{
    margin: 0;
    font-size: 70px;
}
.contai h1 span{
    border: 6px solid white;
    padding: 6px 14px;
    display: inline-block;
}
.cen{
   margin: 20px;
   display: block;
   font-size: 26px; 
}
.button_banner{
    color: #333;
    padding: 10px 24px;
    background: #f1f1f1;
    text-decoration: none;
    border-radius: 22px;
    transition: .6s;
}
.button_banner:hover{
    opacity: .6;
}

img{
    display: block;
    width: 100%;
}
.main-header {
    padding: 0 20px;
}
.main-header__title{
    text-align: center;
    font-size: 0.5em;
    margin: 5px 0;
    color: #454546;
    font-family: "Poppins";
}


/*Estilos del menu*/
.main-nav {
    opacity: 0;
    visibility: hidden;
    /*
    transition: all 0.5s;
    position: relative;
    */
}
.menu{
    position: absolute;
    top: 800px; /*para mover lo que contiene el icono de menu*/
    left: 0;
    background: #212121;
    width: 100%;
    list-style: none;
    padding: 20px;
    margin: 0;
    z-index: 999999; 
    /*
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    */
      
}
.menu__item{
    text-align: center;
    margin: auto;
}
.menu__link{
    padding: 20px;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
}
.menu__link:hover{
    background: white;
    color: #212121;
}
.mostrar{
    opacity: 1;
    visibility: visible;
}

.main-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-menu{
    font-size: 1.5em;
    border: 1px solid #454546;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    

}
.main-header__btn{
    display: block;
    padding: 10px 25px;
    color: #454546;
    border: 1px solid #454546;
    text-decoration: none;
}

/*PARA BUSCADOR*/
.main-header__input{
    display: block;
    padding: 10px;
    width: 150px;
}


.main{
    padding: 0 20px;
}

/*Estilos de slides*/
.container-slider{
    margin: 50px 0;
    position: relative;
    overflow: hidden;
}
.slider{
    display: flex;
    width: 400%;
    height: 300px;
    margin-left: -100%;
    position: relative;
}
.slider:before{
    content: "";
    position: absolute; 
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 100px;

}
.slider__section{
    width: 100%;
    position: relative;
}

.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
}

.slider__btn:hover{
    background: #fff;
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;
}

.slider__content{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translateX(50%, -50%);
    text-align: center;
    z-index: 999;
}
.slider__title{
    font-size: 2.5em;
    margin: 0;
}
.slider__txt{
    margin: 5px 0;
}

.btn-shop{
    display: block;
    border: 1px solid #FF4E00;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    margin: 10px auto;
}

/*Estilos de productos*/

.product{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}
.product__img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.product::before{
    content: "New";
    background: #003333;
    position: relative;
    padding: 20px;
    top: 0;
    right: 10px;
    color: white;
}

.product__title{
    text-align: center; 
}

.producto__price {
    color: #FF4E00;
    font-weight: bold;
}

.product__icon{
    display: block;
    margin: 10px;
}
.product button{
    border:none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}
/* ---------------------------*/
.container-products{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;

    /*
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    */
}

.product .product__desciption:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
/*-------------CARRILLO-----------*/
/*
.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.h2{
    font-size: 20px;
    color: black ;
}

.button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background: #003333;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
.button:hover{
    background-color: #333;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}

.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #003333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-trash:hover{
    cursor: pointer;
    color: #333;
}
*/

/*-------------detalles del carrito-----------*/


.carrito{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}
#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.head_carrito{
    background-color: #003333;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;

}

.container__testimonials{
     text-align: center;
     color: #333;
     background: #F7F7F7;
     padding: 20px;
     margin: 20px 0;
}
.testimonial__txt{
    color: #777;
}
.container-editor{
    margin-top: 20px;
}
.editor__item{
    height: 200px;
    position: relative;
    overflow: hidden;
}
.editor__img{
   width: 100%;
   height: 100%;
   object-fit: cover; 
}
.editor__circle{
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -90px;
    right: -50px;
    color: white;
    padding-bottom: 70px;
    padding-right: 50px;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    transition: all 0.5s;
}
.editor__item:hover .editor__circle{
    transform: scale(1.2);
    bottom: -90px;
    right: -50px;

}

.editor__item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    opacity: 0;
    transition: all0.5s;
}
.editor__item:hover::before{
    opacity: 1;
}
.container-tips{
    margin: 20px 0;
    text-align: center;
}
.tip i{
    font-size: 2em;
    color: #333;
    padding: 20px 0;
}
.tip .btn-shop{
    color: #333;
}

.main-footer{
    background: #151515;
    color: white;
    padding: 30px 20px;
}
.footer__title{
    border-bottom: 1px solid #555;
    padding-bottom: 20px;
}
.footer__txt{
   color: #555;
}
.footer__link{
    color: #555;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.footer__input{
    background: #151515;
    width: 100%;
    display: block;
    padding: 10px;
    border: 1px solid #555;
}
.copy {
    color: #555;
}

/*Estilos para tablet*/
@media screen and (min-width:768px){
    .slider{
        height: 400px; 
    }
    .editor__item{
        height: 250px;
    }
}

/*Estilos para web*/
@media screen and (min-width:1024px){
    .icon-menu{
        display: none;
    }
    .main-header .container--flex{
        display: flex;
    }
    .main-header__container{
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .main-header .container:nth-child(2){
        order: -1;
    }
    .main-header__title{
        width: 100%;
        font-size: 30px;
    }
    .main-nav{
        visibility: visible;
        opacity: 1;
    }
    .menu{
        position: static;
        width: 100;
        display: flex;
        background: none;
    }
    .menu__link{
        color: #333;
    }

}